<!DOCTYPE html>
<html lang="ko">
<script type="text/javascript" src="/static/jquery-3.2.1.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>질문답변 인공지능 '언제나 깨어있는 민태호 mk.2' (최종 업데이트: 20210221)</title>
</head>
<style>

</style>
<body>



<meta name="viewport" content="width=device-width, initial-scale=1.0">



<script>
    $('#btn_submit').click(function() {
        send();
    });
    $('#form').on('submit', function(e){
       e.preventDefault();
       send();
    });
    $('#close_chat_btn').on('click', function(){
        $('#chat_wrap').hide().empty();
    });
    function send(){
        $('#divbox').append('<div class="msg_box send"><span>'+$('#input1').val()+'<span></div>');
        $("#divbox").scrollTop($("#divbox")[0].scrollHeight);
        console.log("serial"+$('form').serialize())
        $.ajax({
            url: 'http://193.123.242.23:8000/chat_service/',
            type: 'post',
            dataType: 'json',
            data: $('form').serialize(),
            success: function(data) {
                <!--$('#reponse').html(data.response);-->
                $('#divbox').append('<div class="msg_box receive"><span>'+ data.response +'<span></div>');
                $("#divbox").scrollTop($("#divbox")[0].scrollHeight);
            }
        });
        $('#input1').val('');
    }
</script>


<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="언제나_깨어있는_민태호_mk.2"
  agent-id="2b738556-ab4e-47cb-a342-08e360800217"
  language-code="ko"
></df-messenger>



</body>
</html>
